<form #userForm="ngForm"   (ngSubmit)="onSave(userForm.value)" novalidate>
  <p>Is "myForm" valid? {{userForm.valid}}</p>
 <table border='1'>
<tr>
<td>name</td>
<td>
    <input name="id" type="hidden"     [(ngModel)]="id" />
     <input name="name" type="text"  required  [(ngModel)]="name" />

 </td>
</tr>

<tr>
    <td>price</td>
    <td>    <input name="price" required  type="text"   [(ngModel)]="price" /></td>
    </tr>
    <tr>
        
    </tr>


    <tr>
        <td>CreatedAt</td>
        <td>    <input name="CreatedAt" required  type="text"   [(ngModel)]="CreatedAt" /></td>
        </tr>
        <tr>

        </tr>


        <tr>
            <td>UpdateAt</td>
            <td>    <input name="UpdateAt" required  type="text"   [(ngModel)]="UpdateAt" /></td>
            </tr>
            <tr>

            </tr>
            <tr>
                <td>SellerName</td>
                <td>    <input name="SellerName" required  type="text"   [(ngModel)]="SellerName" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                <input type="submit" value="{{valbutton}}" />
                </td>
                </tr>
 </table>
</form>

<table border='1'>

  <tr>
    <td>Id</td>
    <td>Name</td>
    <td>Price</td>
    <td>CreatedAt</td>
    <td>Updated</td>
    <td>SellerName</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let kk of Repdata;let ind = index">

    <td>{{ind + 1}}</td>
    <td>{{kk.name}}</td>
    <td>{{kk.price}}</td>
    <td>{{kk.CreatedAt}}</td>
    <td>{{kk.UpdateAt}}</td>
    <td>{{kk.SellerName}}</td>
    <td><a (click)="edit(kk)" style="color:blueviolet">Edit</a></td>
    <td><a (click)="delete(kk._id)" style="color:blueviolet">Delete</a>  </td>
  </tr>
</table>
